<% provide(:title, 'Приветствие') %>
<h1>Здравствуй, Гость!</h1>
<p>
    Данный сервис Вам поможет организовать Ваш рацион, 
    учитывая не только Ваши биологические данные, 
    Ваши цели (похудение, набор массы, поддержание веса), 
    но и Ваши предпочтения!
</p>
